networks:
  proxy:
    external: true

volumes:
  fonts:
    driver_opts:
      type: none
      device: "/pool0/archive/media/software/schriften"
      o: bind
    
services:
  collabora:
    image: collabora/code:latest
    container_name: collabora
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp=unconfined  
    ports: ['192.168.0.11:9980:9980']
    networks: ['proxy']
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - fonts:/usr/share/fonts/truetype/more/:ro
      - fonts:/opt/cool/systemplate/usr/share/fonts/truetype/more/:ro
      - type: bind
        source: CHANGE_TO_COMPOSE_DATA_PATH/collabora_coolwsd
        target: /etc/coolwsd          

    environment:
      - domain=office.kingma.ch       # <== look mam, no / !
      - server_name=collab.kingma.ch  # <== and not here either.
      - extra_params=
        --o:ssl.enable=false
        --o:ssl.termination=true
        --o:logging.level=notice
      - TZ=Europe/Zurich
      - username=${COLLABORA_USER}
      - password=${COLLABORA_PASS}
