#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Nextcloud Version Copy
Comment=SSH into NAS, get Nextcloud version info, copy to clipboard
Exec=sh -c "ssh admin@srv-nas-pi.kingma sudo ./get_nextcloud_version | wl-copy"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
