http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.20.0.4 # Add the IP address of the proxy server

maxcube:
  gateways:
    - host: 192.168.111.6

# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
