# This is a Docker Compose file for running Nginx Proxy Manager.
networks:
  proxy:
    external: true

services:
  nginx-proxy:
    container_name: nginx-proxy
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    networks: [ proxy ]
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - '192.168.0.11:9080:80' # for Let-s encrypt renewal
      - '192.168.0.11:9443:443' # proxied
      - '192.168.111.11:81:81'
    volumes:
      - CHANGE_TO_COMPOSE_DATA_PATH/npm/data:/data
      - CHANGE_TO_COMPOSE_DATA_PATH/npm/letsencrypt:/etc/letsencrypt
