services:

  torrelay:
    container_name: torrelay
    build: torrelay
    image: torrelay
    restart: unless-stopped
    cpus: 2
    security_opt:
      - no-new-privileges:true
    read_only: true
    stop_grace_period: 2m
    volumes:
      - CHANGE_TO_COMPOSE_DATA_PATH/torrelay/torrc:/etc/tor/torrc:ro
      - data:/var/lib/tor
    network_mode: host # check if you want this

volumes:
  data:
    name: torrelay
